# /etc/systemd/system/bt-network.service
[Unit]
Description=Bluetooth NEP PAN
After=pan0.network

[Service]
ExecStart=/usr/bin/bt-network -s nap pan0
ExecStartPost=bt-adapter --set Discoverable 1
Type=simple

[Install]
WantedBy=multi-user.target